// ┌───────────┐
// │ Typefaces │
// └───────────┘
@mixin txt-apercu () {
  font-family: $apercu;
}

.txt-apercu {
  @include txt-apercu();
}
// ┌───────┐
// │ Color │
// └───────┘
@mixin txt-black () {color: $black}
@mixin txt-white () {color: $white}
@mixin txt-dark-gray () {color: $dark-gray}
@mixin txt-gray () {color: $gray}
@mixin txt-light-gray () {color: $light-gray}

.txt-black {@include txt-black();}
.txt-white {@include txt-white();}
.txt-dark-gray {@include txt-dark-gray();}
.txt-gray {@include txt-gray();}
.txt-light-gray {@include txt-light-gray();}

// ┌─────────────┐
// │ Base Styles │
// └─────────────┘
html {
  background: $pink;
  color: $off-black;
  font-size: $base-size * 1px;
  padding-bottom: 0 !important;
  @include txt-apercu();
}
body {
  font-size: $base-size * 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include txt-apercu();
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

ul, ol {
  padding-left: 1.25em;
}

img {
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0;
}


// ┌──────────┐
// │ Tracking │
// └──────────┘

.txt-track-0 {@include tracking(-123);}
.txt-track-1 {@include tracking(-45);}
.txt-track-2 {@include tracking(-7);}
.txt-track-3 {@include tracking(-30);}

// ┌─────────┐
// │ Helpers │
// └─────────┘

.txt-uppercase { text-transform: uppercase; }
.txt-capitalize { text-transform: capitalize; }

.txt-no-underline,
a.txt-no-underline {
  text-decoration: none;
}

.txt-underline,
a.txt-underline {
  text-decoration: underline;
}

.txt-hover-underline,
a.txt-hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a {
  display: inline-block;
  color: $off-black;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: $off-black;
    transition: width 0.3s;
  }

  &:hover {
    color: $off-black;
    text-decoration: none;
    &::after {
      width: 100%;
    }
  }
}
