.nav {
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $white;
	padding: 0;

	a {
		&::after {
			background: transparent;
		}
	}
}

.nav-logo {
	padding-left: 8em;
}

.nav-menu {
	margin: 0;
	padding: 0 8em 0 0;
	list-style-type: none;

	li {
		list-style-type: none;
		display: inline-block;

		a {
			display: block;

			svg {
				vertical-align: center;
				width: 35px;
				padding-top: 2em;
				fill: $off-black;
				transition: $link-transition;
			}

			&:hover {
				svg {
					fill: #d8c9c9;
					transition: $link-transition;
				}
			}

			&:visited {
				svg {
					fill: $off-black;
					transition: $link-transition;
				}
			}

			&:active {
				svg {
					fill: $off-black;
					transition: $link-transition;
				}
			}

			&::after {
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
@include smaller-than($medium) {
	.nav {
		display: block;
		line-height: 3;
		height: auto;
		padding: 2em 0 1em;
		text-align: center;
	}

	.nav-logo {
		padding-left: 0;
	}

	.nav-menu {
		padding-right: 0;

		li {
			a {
				svg {
					padding-top: 0.5em;
				}
			}
		}
	}
}
