// ┌─────────────┐
// │ Backgrounds │
// └─────────────┘
@mixin bg-light-gray {
  background-color: $light-gray;
}

.bg-light-gray { @include bg-light-gray(); }

@mixin bg-light-pink {
  background-color: $light-pink;
}

.bg-light-pink { @include bg-light-pink(); }


// ┌───────┐
// │ Fills │
// └───────┘

.fill-black { fill: $black; }
